<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dynamic Routing with JS</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="root"></div>
    <!-- This HTML is a template, if you open it in you in your browser, I'll see a empty file -->
    <script type="module" src="js/index.js"></script>
  </body>
</html>
